<li>
  <span><%= link_to list.title, list_path(list)%></span>
  <%= list.items.count %> Пунктов
  <%= list.image %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(list.created_at) %> ago.
  </span>
  <% if can? :update, @item %>
  <span><%= link_to 'Редактировать', edit_list_path(list) %></span>
  <% end %>
</li>
