<div class="row" id="list_comment_<%= comment.id %>">
  <div class="col-xs-1">
    <h4><span class="glyphicon glyphicon-user"></span></h4>
  </div>
  <div class="col-xs-11">
    <b><%= link_to comment.user.username, user_path(comment.user)%></b>
    <p><small><%= comment.content %></small>
    <% if comment.item_id? %>
      <small class="text-muted">
        (К пункту <a href="#<%= (comment.item.id) %>"> <%= comment.item.title %></a>)
      </small>
    <% end %>
    </p>
    <small class="text-muted"><%= time_ago_in_words(comment.created_at) %> назад.</small>
    <% if can? :destroy, comment %>
      <small class="text-muted">
       <%= link_to "Удалить", list_comment_path(@list.id, comment),
                method: :delete, data: { confirm: "Удалить комментарий?" },
                remote: true %>
      </small>
    <% end %>
    <hr class="line-item">
  </div>
</div>

