<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track' => true %>
    <script type="text/javascript" src="https://raw.githubusercontent.com/davidjbradshaw/iframe-resizer/master/js/iframeResizer.contentWindow.min.js"></script>

    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div id="list_<%=@list.id%>_comments_form">
      <%= render "comments/list_comment_form" %>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div id="list_comment">
          <% @list.comments.where(:item_id => nil).each do |comment| %>

            <%= render "comments/list_comment", comment: comment %>

          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
