<div class="modal fade" id="newItem" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Добавить пункт</h4>
      </div>
      <%= form_for [@list, @list.items.build], remote: true do |f| %>
        <div class="modal-body">
          <p>
            <%= f.label "Название" %><br>
            <%= f.text_field :title, class:"form-control" %>
          </p>
          <p>
            <%= f.label "Описание" %><br>
            <%= f.text_area :description,
                              :rows => 10, class:"form-control" %>
          </p>
          <p>
            <%= f.label "Изображение" %><br>
            <%= f.file_field :image %>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
                data-dismiss="modal">Отмена</button>
          <%= f.submit 'Добавить',class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
