<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Добавить пункт</h4>
      </div>
<%= form_for [@list, @list.items.build],url:list_items_url(@list), remote: true do |f| %>
        <div class="modal-body">
          <p>
            <%= f.label "Название" %><br>
            <%= f.text_field :title, class:"form-control" %>
          </p>
          <p>
            <%= f.label "Описание" %><br>
            <%= f.text_area :description, :class => "tinymce",
                              :rows => 10, class:"form-control" %>
          </p>
          <p>
            <%= f.label "Изображение" %><br>
            <%= f.file_field :image %>
          </p>

        </div>

          <button type="button" class="btn btn-default"
                data-dismiss="modal">Отмена</button>
          <%= f.submit 'Добавить',class:"btn btn-primary" %>

      <% end %>

      <form class="s_form">
        <input class="s_text nameinp sinp items_form_title" type="text" name="title" placeholder="Название">
        <input class="s_text phoneinp sinp items_form_description" type="text" name="description" placeholder="Описание">
        <input class="s_text phoneinp sinp items_form_image" type="file" name="image" placeholder="Изображение">
        <input class="items_form_plugin" type="button" value="Отправить">
      </form>



    </div>
  </div>
</div>
<script>
(function ($) {
  $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
  var token;
  if (!options.crossDomain) {
    token = $('meta[name="csrf-token"]').attr('content');
    if (token) {
      return jqXHR.setRequestHeader('X-CSRF-Token', token);
    }
  }
});

  $('body').on('click', '.items_form_plugin', function() {
    var tit = $(".items_form_title").val();
    var desc = $(".items_form_description").val();
    var im = $(".items_form_image").val();
    var li = <%= @list.id %>
    var us = <%= current_user.id %>
    var token = $('meta[name="csrf-token"]').attr('content');
    alert('?title='+tit+'&description='+desc+'&img='+im)
      $.ajax({
          url: '<%=list_items_url(@list)%>',
          type: 'POST',
          crossDomain: true,
          //xhrFields: {
          //  withCredentials: true
          //},
          data: {item : {title : tit , description : desc, user_id : us }},
          //dataType: 'text/plain',

    success: function(responseData, textStatus, jqXHR) {
        var value = responseData.someKey;
    },
    error: function (responseData, textStatus, errorThrown) {
        alert('POST failed.');
    }
});
});
}(jQuery));
</script>
